In [44]:
import pandas as pd
import numpy as np

In [45]:
df=pd.read_csv("Dream_Batting_Stats.csv")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9085 entries, 0 to 9084
Data columns (total 33 columns):
match_id                9085 non-null int64
inning                  9085 non-null int64
season                  9085 non-null int64
batsman                 9085 non-null object
venue                   9085 non-null object
toss_winner             9085 non-null object
toss_decision           9085 non-null object
batting_team            9085 non-null object
bowling_team            9085 non-null object
Batsmen_Order           9085 non-null int64
Batting_hand            9085 non-null int64
Played_at_age           9085 non-null int64
Played_at_age_Bucket    9085 non-null object
Ground_Type             9085 non-null object
Total_Runs              9085 non-null int64
Mean_ven                9085 non-null float64
Median_ven              9085 non-null float64
Min_ven                 9085 non-null int64
Max_ven                 9085 non-null int64
Mean_ord                9085 non-null float64
Median_ord              9085 non-null float64
Min_ord                 9085 non-null int64
Max_ord                 9085 non-null int64
Total_Dream_Score       9085 non-null int64
Espn_Id                 9023 non-null float64
strike_rate             9085 non-null float64
batting_average         9085 non-null float64
centuries               9085 non-null int64
fifties                 9085 non-null int64
fours                   9085 non-null int64
sixes                   9085 non-null int64
Espn_id                 9015 non-null float64
Espn_play_role          9015 non-null object
dtypes: float64(8), int64(16), object(9)
memory usage: 2.3+ MB

In [47]:
df.isnull().values.any()
#df=df.drop('batsman', axis=1)

True

In [48]:
df['Batting_hand_dumm'] = np.select(
[df['Batting_hand'] == 1,df['Batting_hand'] == 2],
[0,1])

In [49]:
df['toss_decision_dumm'] = np.select(
[df['toss_decision'] =='field', df['toss_decision'] == 'bat'],
[0,1]
)

In [50]:
df['Ground_Type_dumm'] = np.select(
[df['Ground_Type'] == 'Home', df['Ground_Type'] == 'Away'],
[0,1])

In [51]:
df.head()

,match_id,inning,season,batsman,venue,toss_winner,toss_decision,batting_team,bowling_team,Batsmen_Order,...,batting_average,centuries,fifties,fours,sixes,Espn_id,Espn_play_role,Batting_hand_dumm,toss_decision_dumm,Ground_Type_dumm
0,1,1,2017,BCJ Cutting,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,5,...,22.14,0,3,100,120,230371.0,Allrounder,1,0,0
1,1,1,2017,DA Warner,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,1,...,37.71,8,73,891,356,219889.0,Opening batsman,0,0,0
2,1,1,2017,DJ Hooda,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,4,...,21.27,1,7,103,72,497121.0,Allrounder,1,0,0
3,1,1,2017,MC Henriques,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,2,...,26.63,0,17,285,103,5961.0,Allrounder,1,0,0
4,1,1,2017,S Dhawan,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,0,...,31.71,0,54,831,166,28235.0,Opening batsman,0,0,0

In [52]:
df['batsman_count_in_series'] = df.groupby(['batsman','season']).cumcount()+1
#df['C'] = df.groupby(['A','B']).cumcount()+1;

In [53]:
df[df['batsman'] == 'BCJ Cutting'][['batsman','batsman_count_in_series','Total_Dream_Score']].head()

          batsman  batsman_count_in_series  Total_Dream_Score
0     BCJ Cutting                        1                 20
62    BCJ Cutting                        2                 24
111   BCJ Cutting                        3                 18
5892  BCJ Cutting                        1                 10
7298  BCJ Cutting                        1                 22

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9085 entries, 0 to 9084
Data columns (total 37 columns):
match_id                   9085 non-null int64
inning                     9085 non-null int64
season                     9085 non-null int64
batsman                    9085 non-null object
venue                      9085 non-null object
toss_winner                9085 non-null object
toss_decision              9085 non-null object
batting_team               9085 non-null object
bowling_team               9085 non-null object
Batsmen_Order              9085 non-null int64
Batting_hand               9085 non-null int64
Played_at_age              9085 non-null int64
Played_at_age_Bucket       9085 non-null object
Ground_Type                9085 non-null object
Total_Runs                 9085 non-null int64
Mean_ven                   9085 non-null float64
Median_ven                 9085 non-null float64
Min_ven                    9085 non-null int64
Max_ven                    9085 non-null int64
Mean_ord                   9085 non-null float64
Median_ord                 9085 non-null float64
Min_ord                    9085 non-null int64
Max_ord                    9085 non-null int64
Total_Dream_Score          9085 non-null int64
Espn_Id                    9023 non-null float64
strike_rate                9085 non-null float64
batting_average            9085 non-null float64
centuries                  9085 non-null int64
fifties                    9085 non-null int64
fours                      9085 non-null int64
sixes                      9085 non-null int64
Espn_id                    9015 non-null float64
Espn_play_role             9015 non-null object
Batting_hand_dumm          9085 non-null int32
toss_decision_dumm         9085 non-null int32
Ground_Type_dumm           9085 non-null int32
batsman_count_in_series    9085 non-null int64
dtypes: float64(8), int32(3), int64(17), object(9)
memory usage: 2.5+ MB

In [55]:
groups_ord = df.groupby(['Batsmen_Order','venue','batsman']).agg({'Total_Runs': ['mean','median','min','max']}).reset_index()
groups_ord.columns = groups_ord.columns.droplevel()
#{'Mean','Median','Min','Max'}
groups_ord.columns=['Batsmen_Order','venue','batsman','Mean_Ven_ord_runs','Median_Ven_ord_runs','Min_Ven_ord_runs','Max_Ven_ord_runs']
groups_ord.head()

,Batsmen_Order,venue,batsman,Mean_Ven_ord_runs,Median_Ven_ord_runs,Min_Ven_ord_runs,Max_Ven_ord_runs
0,0,Barabati Stadium,AC Gilchrist,24.0,24.0,24,24
1,0,Barabati Stadium,DA Warner,57.0,57.0,57,57
2,0,Barabati Stadium,DR Smith,4.0,4.0,4,4
3,0,Barabati Stadium,G Gambhir,46.5,46.5,30,63
4,0,Barabati Stadium,LMP Simmons,12.0,12.0,12,12

In [56]:
df1 = pd.merge(df,groups_ord, how = 'left', left_on = ['Batsmen_Order','venue','batsman'], right_on = ['Batsmen_Order','venue','batsman'])

In [57]:
groups_ord = df.groupby(['batsman']).agg({'Total_Runs': ['mean','median','min','max']}).reset_index()
groups_ord.columns = groups_ord.columns.droplevel()
#{'Mean','Median','Min','Max'}
groups_ord.columns=['batsman','Mean_runs','Median_runs','Min_runs','Max_runs']
groups_ord.head()

          batsman  Mean_runs  Median_runs  Min_runs  Max_runs
0  A Ashish Reddy  12.095238         10.0         2        36
1      A Chandila   2.000000          2.0         0         4
2        A Chopra   8.833333          6.5         1        24
3     A Choudhary   5.000000          5.0         4         6
4     A Dananjaya   4.000000          4.0         4         4

In [58]:
df1 = pd.merge(df,groups_ord, how = 'left', left_on = ['batsman'], right_on = ['batsman'])

In [59]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9085 entries, 0 to 9084
Data columns (total 41 columns):
match_id                   9085 non-null int64
inning                     9085 non-null int64
season                     9085 non-null int64
batsman                    9085 non-null object
venue                      9085 non-null object
toss_winner                9085 non-null object
toss_decision              9085 non-null object
batting_team               9085 non-null object
bowling_team               9085 non-null object
Batsmen_Order              9085 non-null int64
Batting_hand               9085 non-null int64
Played_at_age              9085 non-null int64
Played_at_age_Bucket       9085 non-null object
Ground_Type                9085 non-null object
Total_Runs                 9085 non-null int64
Mean_ven                   9085 non-null float64
Median_ven                 9085 non-null float64
Min_ven                    9085 non-null int64
Max_ven                    9085 non-null int64
Mean_ord                   9085 non-null float64
Median_ord                 9085 non-null float64
Min_ord                    9085 non-null int64
Max_ord                    9085 non-null int64
Total_Dream_Score          9085 non-null int64
Espn_Id                    9023 non-null float64
strike_rate                9085 non-null float64
batting_average            9085 non-null float64
centuries                  9085 non-null int64
fifties                    9085 non-null int64
fours                      9085 non-null int64
sixes                      9085 non-null int64
Espn_id                    9015 non-null float64
Espn_play_role             9015 non-null object
Batting_hand_dumm          9085 non-null int32
toss_decision_dumm         9085 non-null int32
Ground_Type_dumm           9085 non-null int32
batsman_count_in_series    9085 non-null int64
Mean_runs                  9085 non-null float64
Median_runs                9085 non-null float64
Min_runs                   9085 non-null int64
Max_runs                   9085 non-null int64
dtypes: float64(10), int32(3), int64(19), object(9)
memory usage: 2.8+ MB

# df=df.drop('batsman', axis=1)
df1=df1.drop('batsman', axis=1)
df1=df1.drop('Total_Runs', axis=1)
df1=df1.drop('match_id', axis=1)
#df1=df1.drop('Played_at_age_Bucket', axis = 1)
df1=df1.drop('Batting_hand', axis = 1)
df1=df1.drop('Ground_Type', axis = 1)
#df1=df1.drop('Unnamed: 0', axis = 1)
df1=df1.drop('Espn_play_role', axis = 1)
df1=df1.drop('Espn_id', axis = 1)
df1 = df1.drop('toss_decision', axis=1)
df1 = df1.drop('Espn_Id', axis=1) 
df1 = df1.drop('Played_at_age', axis=1) 
df1 = df1.drop('Played_at_age_Bucket', axis=1)

In [21]:
df1.isnull().values.any()
#df=df.drop('batsman', axis=1)

False

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9085 entries, 0 to 9084
Data columns (total 30 columns):
inning                     9085 non-null int64
season                     9085 non-null int64
venue                      9085 non-null object
toss_winner                9085 non-null object
batting_team               9085 non-null object
bowling_team               9085 non-null object
Batsmen_Order              9085 non-null int64
Mean_ven                   9085 non-null float64
Median_ven                 9085 non-null float64
Min_ven                    9085 non-null int64
Max_ven                    9085 non-null int64
Mean_ord                   9085 non-null float64
Median_ord                 9085 non-null float64
Min_ord                    9085 non-null int64
Max_ord                    9085 non-null int64
Total_Dream_Score          9085 non-null int64
strike_rate                9085 non-null float64
batting_average            9085 non-null float64
centuries                  9085 non-null int64
fifties                    9085 non-null int64
fours                      9085 non-null int64
sixes                      9085 non-null int64
Batting_hand_dumm          9085 non-null int32
toss_decision_dumm         9085 non-null int32
Ground_Type_dumm           9085 non-null int32
batsman_count_in_series    9085 non-null int64
Mean_runs                  9085 non-null float64
Median_runs                9085 non-null float64
Min_runs                   9085 non-null int64
Max_runs                   9085 non-null int64
dtypes: float64(8), int32(3), int64(15), object(4)
memory usage: 2.0+ MB

In [60]:
df1 = df1.replace(to_replace = "St George's Park",value ='St Georges Park', regex = True)
df1 = df1.replace(to_replace = " ",value ='_', regex = True)
df1 = df1.replace(to_replace = ",",value ='', regex = True)

In [61]:
df1 = pd.get_dummies(df1, columns=['venue','batting_team','bowling_team','toss_winner'])

In [56]:
#df1 = pd.get_dummies(df, columns=['venue','batting_team','bowling_team','toss_winner'])

In [62]:
df1.to_csv('Model_Data_Dream_with_all_Var.csv', index = False)

In [ ]:
df1['Total_Dream_Score'].describe()

In [ ]:
#mpg_df = pd.get_dummies(mpg_df, columns=['batsman'])

In [ ]:
#import numpy as np
#df[df['Batsmen_Order']!=np.nan].shape#.isna().any()

In [ ]:
df1.shape

In [ ]:
#mpg_df=mpg_df.dropna()

In [62]:
X = df1.drop('Total_Dream_Score', axis=1)
#X = X.drop({'origin_america', 'origin_asia' ,'origin_europe'}, axis=1)
print(X.shape)
# Copy the 'mpg' column alone into the y dataframe. This is the dependent variable
y = df1[['Total_Dream_Score']]
print(y.shape)

(9085, 79)
(9085, 1)

In [63]:
#y

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30 , random_state=1)

In [79]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6359, 79)
(2726, 79)
(6359, 1)
(2726, 1)

In [ ]:
#scaler = StandardScaler()

In [ ]:
#train_scaled = scaler.fit_transform(X_train)

In [ ]:
#test_scaled = scaler.transform(X_test)

In [ ]:
#test_scaled = scaler.transform(X_test)

In [ ]:
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt

In [ ]:
mse = mean_squared_error(y_train, regression_model.predict(X_train))
mae = mean_absolute_error(y_train, regression_model.predict(X_train))

In [ ]:
test_mse = mean_squared_error(y_test, model.predict(test_scaled))
test_mae = mean_absolute_error(y_test, model.predict(test_scaled))
print("mse = ",test_mse," & mae = ",test_mae," & rmse = ", sqrt(test_mse))

In [ ]:
y_pred = regression_model.predict(X_test)

In [ ]:
y_pred[:20]

In [ ]:
regression_model.score(X_test, y_test)

In [ ]:
X_test[:20]

In [ ]:
df.iloc[113812]

In [ ]:
df=df.dropna()

In [ ]:
mse = np.mean((regression_model.predict(X_test)-y_test)**2)

In [ ]:
import math

math.sqrt(mse)

In [ ]:
mse = np.mean((regression_model.predict(X_train)-y_train)**2)
math.sqrt(mse)

In [ ]:
regression_model.score(X_train, y_train)

# Neural Networks

In [ ]:
from sklearn.neural_network import MLPRegressor

In [ ]:
model1 = MLPRegressor()

In [ ]:
model1.fit(X_train, y_train)

In [ ]:
mse = mean_squared_error(y_train, model1.predict(X_train))
mae = mean_absolute_error(y_train, model1.predict(X_train))

In [ ]:
print("mse = ",mse," & mae = ",mae," & rmse = ", sqrt(mse))

In [ ]:
test_mse = mean_squared_error(y_test, model1.predict(X_test))
test_mae = mean_absolute_error(y_test, model1.predict(X_test))
print("mse = ",test_mse," & mae = ",test_mae," & rmse = ", sqrt(test_mse))

In [ ]:
model1.score(X_test, y_test)

# Trees

In [67]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [81]:
#Labels are the values we want to predict
features = df1
labels = np.array(features['Total_Dream_Score'])

In [82]:
#random state to 42 which means the results will be the same each time I run the split for reproducible results.
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [68]:
tree_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()

In [83]:
tree_model.fit(train_features, train_labels)
rf_model.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [85]:
# Use the forest's predict method on the test data
predictions = rf_model.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.01 degrees.

In [90]:
errors

array([0., 0., 0., ..., 0., 0., 0.])

In [88]:
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: nan %.

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [89]:
mape

array([-0.,  0.,  0., ...,  0.,  0.,  0.])

In [ ]:
rf_model.score(X_train, y_train)

In [ ]:
rf_model.score(X_test, y_test)

In [ ]:
tree_model.score(X_train, y_train)

# Auto ML

In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)
  Starting server from C:\Users\Acer\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Windows\TEMP\tmpr1boktqs
  JVM stdout: C:\Windows\TEMP\tmpr1boktqs\h2o_Acer_started_from_python.out
  JVM stderr: C:\Windows\TEMP\tmpr1boktqs\h2o_Acer_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O cluster uptime:         03 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    1 month and 30 days
H2O cluster name:           H2O_from_python_Acer_1ju73p
H2O cluster total nodes:    1
H2O cluster free memory:    892 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.1 final
--------------------------  ---------------------------------------------------------

In [28]:
df.head()

,match_id,inning,season,batsman,venue,toss_winner,toss_decision,batting_team,bowling_team,Batsmen_Order,...,centuries,fifties,fours,sixes,Espn_id,Espn_play_role,Batting_hand_dumm,toss_decision_dumm,Ground_Type_dumm,batsman_count_in_series
0,1,1,2017,BCJ Cutting,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,5,...,0,3,100,120,230371.0,Allrounder,1,0,0,1
1,1,1,2017,DA Warner,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,1,...,8,73,891,356,219889.0,Opening batsman,0,0,0,1
2,1,1,2017,DJ Hooda,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,4,...,1,7,103,72,497121.0,Allrounder,1,0,0,1
3,1,1,2017,MC Henriques,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,2,...,0,17,285,103,5961.0,Allrounder,1,0,0,1
4,1,1,2017,S Dhawan,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,0,...,0,54,831,166,28235.0,Opening batsman,0,0,0,1

In [29]:
Df = df[df['match_id'].isin([1,2])]

In [30]:
df.head()

,match_id,inning,season,batsman,venue,toss_winner,toss_decision,batting_team,bowling_team,Batsmen_Order,...,centuries,fifties,fours,sixes,Espn_id,Espn_play_role,Batting_hand_dumm,toss_decision_dumm,Ground_Type_dumm,batsman_count_in_series
0,1,1,2017,BCJ Cutting,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,5,...,0,3,100,120,230371.0,Allrounder,1,0,0,1
1,1,1,2017,DA Warner,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,1,...,8,73,891,356,219889.0,Opening batsman,0,0,0,1
2,1,1,2017,DJ Hooda,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,4,...,1,7,103,72,497121.0,Allrounder,1,0,0,1
3,1,1,2017,MC Henriques,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,2,...,0,17,285,103,5961.0,Allrounder,1,0,0,1
4,1,1,2017,S Dhawan,"Rajiv Gandhi International Stadium,Uppal",RCB,field,SRH,RCB,0,...,0,54,831,166,28235.0,Opening batsman,0,0,0,1

In [32]:
#df = df.drop('Unnamed: 0', axis = 1)
df =df.drop('Total_Runs', axis=1)
df =df.drop('match_id', axis=1)
df = df.drop('batsman', axis =1)

In [33]:
df['inning_dumm'] = np.select(
[df['inning'] == 1,
df['inning'] ==2],
[0,1])


df = df.drop('inning', axis =1)

In [34]:
df = h2o.H2OFrame(df)

Parse progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [ ]:
#df1 = pd.get_dummies(df, columns=['venue','batting_team','Played_at_age_Bucket','bowling_team','toss_winner'])

In [35]:
df['Batting_hand'] = df['Batting_hand'].asfactor()
df['Ground_Type'] = df['Ground_Type'].asfactor()
df['inning_dumm'] = df['inning_dumm'].asfactor()
df['venue'] = df['venue'].asfactor()
df['batting_team'] = df['batting_team'].asfactor()
df['Played_at_age_Bucket'] = df['Played_at_age_Bucket'].asfactor()
df['bowling_team'] = df['bowling_team'].asfactor()
df['toss_winner'] = df['toss_winner'].asfactor()
#df1=df1.drop('Played_at_age_Bucket', axis = 1)
#df[] =df1.drop('Batting_hand', axis = 1)
#df[] =df1.drop('Ground_Type', axis = 1)

In [ ]:
df['Ground_Type'].summary()

In [36]:
y = 'Total_Dream_Score'
x = df.columns
x.remove(y)

In [37]:
folds = 2
assigment_type = "stratified"

In [38]:
splits = df.split_frame(ratios = [0.8], seed =7)
train = splits[0]
test = splits[1]

In [ ]:
model = H2OAutoML(max_runtime_secs = 60,
                 stopping_rounds = 50,
                 project_name = 'IPL',
                 seed = 1)

In [ ]:
model.train(x=x,
           y=y,
           training_frame = train)

In [ ]:
lb = model.leaderboard
lb

In [ ]:
m1 = h2o.get_model(lb[1,"model_id"])

In [ ]:
h2o.save_model(model.leader, path = 'abc')

In [ ]:
h2o.save_model(m1, path = '')

In [2]:
saved_model1 = h2o.load_model('GBM_grid__1_AutoML_20200104_120454_model_11')

In [40]:
pred = saved_model1.predict(test)

gbm prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

C:\Users\Acer\Anaconda3\lib\site-packages\h2o\job.py:70: UserWarning: Test/Validation dataset column 'toss_winner' has levels not trained on: [DC]
  warnings.warn(w)

In [ ]:
pred

In [ ]:
feat =m1.varimp(use_pandas = True)

In [ ]:
feat

In [42]:
perf = saved_model1.model_performance(test)

In [43]:
perf

ModelMetricsRegression: gbm
** Reported on test data. **

MSE: 479.31403186213174
RMSE: 21.89324169377691
MAE: 14.717876359143045
RMSLE: NaN
Mean Residual Deviance: 479.31403186213174

In [ ]:
m1.r2()